.advantages {
  @include clear-indents;
  background-color: $color-white;
}

.advantages__wrapper {
  @include side-paddings;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.advantages__list {
  @include clear-indents;
  display: grid;
  justify-content: center;
  justify-items: start;
  align-items: center;
  row-gap: 32px;
  column-gap: 30px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
    row-gap: 60px;
  }

  .advantages__list {
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    row-gap: 80px;
  }

  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
