.advantage {
  padding-top: 66px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    margin: auto;
    width: 52px;
    height: 56px;
    display: block;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--speed {
    &::before {
      background-image: url("../../images/icons/stack.svg#advantages_speed");
    }
  }

  &--fit {
    &::before {
      background-image: url("../../images/icons/stack.svg#advantages_fit");
    }
  }

  &--energy {
    &::before {
      background-image: url("../../images/icons/stack.svg#advantages_energy");
    }
  }

  &--eco {
    &::before {
      background-image: url("../../images/icons/stack.svg#advantages_ecology");
    }
  }
}

.advantage__title {
  @include clear-indents;
  font-size: $font-size-h3;
  line-height: 32px;
}

.advantage__description {
  @include clear-indents;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .advantage {
    padding-top: 0;
    padding-left: 72px;
    min-height: 94px;
    align-items: flex-start;
    row-gap: 10px;
    text-align: left;

    &::before {
      top: 0;
      left: 0;
    }

    &--speed {
      &::before {
        top: 4px;
      }
    }

    &--eco {
      &::before {
        top: 4px;
      }
    }
  }

  .advantage__title {
    font-size: $font-size-h3-tablet;
    line-height: 36px;
  }

  .advantage__description {
    font-size: $font-size-bigger;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding-top: 76px;
    padding-left: 0;
    align-items: center;
    text-align: center;

    &::before {
      left: 0;
      right: 0;
    }

    &--speed {
      &::before {
        top: 0px;
      }
    }

    &--eco {
      &::before {
        top: 0px;
      }
    }
  }
}
