.catalog {
  @include clear-indents;
  background-color: $bg-color;
}

.catalog__wrapper {
  @include side-paddings;
  @include page-center;
  padding-top: 50px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.catalog__subsections-wrapper {
  display: grid;
  justify-content: center;
  row-gap: 40px;
  column-gap: 30px;
}

.catalog__filters {
  @include clear-indents;
}

.catalog__products {
  @include clear-indents;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.catalog__sort {
  align-self: flex-end;
}

.catalog__pagination {
  @include clear-indents;
  margin-top: 20px;
  align-self: flex-end;
}

@media (max-width: $mobile-width-only) {
  .catalog__filters {
    position: relative;
    left: 3px;
  }

  .catalog__products {
    position: relative;
  }

  .catalog__sort {
    position: relative;
    right: -3px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .catalog__subsections-wrapper {
    row-gap: 44px;
  }

  .catalog__products {
    row-gap: 30px;
  }

  .catalog__pagination {
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding-top: 100px;
    padding-bottom: 120px;
    row-gap: 40px;
  }

  .catalog__subsections-wrapper {
    grid-template-columns: 318px 1011px;
  }

  .catalog__pagination {
    margin-top: 30px;
  }
}
