.copyright {
  display: flex;
}

.copyright__link {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4px;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:active {
    color: $color-primary-dark;
  }
}

.copyright__logo {
  fill: currentColor;
}
