.fields-group {
  @include clear-indents;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: none;
}

.fields-group__title {
  @include clear-indents;
  margin-bottom: 20px;
  font-size: $font-size-legend;
  line-height: 24px;
  font-weight: 600;
}

.fields-group__slider {
  @include clear-indents;
}

.fields-group--range .fields-group__inputs-wrapper {
  display: grid;
  grid-template-columns: minmax(87px, 1fr) 8px minmax(87px, 1fr);
  align-items: center;
  column-gap: 20px;
}

.fields-group__separator {
  @include clear-indents;
  width: 8px;
  height: 2px;
  background-color: $color-gray;
  border: none;
}

@media (max-width: $mobile-width-only) {
  .fields-group {
    &--range {
      row-gap: 24px;
    }

    &--margin {
      margin-bottom: 4px;
    }
  }

  .fields-group--range .fields-group__inputs-wrapper {
    column-gap: 18px;
  }
}

@media (min-width: $desktop-width) {
  .fields-group {
    &--range {
      row-gap: 22px;
    }

  }

  .fields-group--range .fields-group__inputs-wrapper {
    grid-template-columns: minmax(87px, 1fr) 10px minmax(87px, 1fr);
  }
}
