.fields-group {
  @include clear-indents;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: none;

    &--range {
      row-gap: 24px;
    }
}

.fields-group__title {
  @include clear-indents;
  margin-bottom: 20px;
  font-size: $font-size-legend;
  line-height: 24px;
  font-weight: 600;
}

.fields-group__slider {
  @include clear-indents;
}

.fields-group--range .fields-group__inputs-wrapper {
  display: grid;
  grid-template-columns: minmax(88px, 1fr) 8px minmax(50px, 1fr);
  // justify-content: center;
  align-items: center;
  column-gap: 18px;
}

.fields-group__separator {
  @include clear-indents;
  width: 8px;
  height: 2px;
  background-color: $color-gray;
  border: none;
}
