.field {
  display: flex;
  align-items: center;
}

.field--price {
  .field__input {
    width: 100%;
  }
}

.field__input {
  margin: 0;
  padding: 6px 8px;
  min-height: 40px;
  box-sizing: border-box;
  font-family: $font-family-default;
  font-size: $font-size-input;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 2px solid $color-primary-light;
  background-color: $color-white;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

  &:hover,
  &:focus-visible {
    border-color: $color-primary-dark;
  }

  &:active {
    border-color: $color-black;
  }

  &:disabled {
    color: $color-gray;
    border-color: $color-gray;
    background-color: $color-gray-lightest;
  }

  &::placeholder {
    color: $color-gray;
  }

  &[type="radio"],
  &[type="checkbox"] {
    @include visually-hidden;
  }
}

.field__title {
  font-size: $font-size-legend;
  cursor: pointer;

  &::before,
  &::after {
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  }
}

.field__input[type="radio"] + .field__title {
  @include clear-indents;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    align-self: flex-start;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid $color-gray;
    background-color: transparent;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: transparent;
  }
}

.field__input[type="radio"]:hover + .field__title {
  &::before {
    border-color: $color-primary-light;
  }

  &::after {
    background-color: $color-primary-025;
  }
}

/*Радиокнопки переключаются путём выбора другой радиокнопки из группы =>
при наведении на уже отмеченную радиокнопку визуально она не выделяется*/

.field__input[type="radio"]:checked + .field__title {
  &::before {
    border-color: $color-primary;
  }

  &::after {
    background-color: $color-primary;
  }
}

.field__input[type="radio"]:focus-visible + .field__title {
  &::before {
    border-color: $color-primary-light;
  }

  &::after {
    background-color: $color-primary-025;
  }
}


.field__input[type="radio"]:disabled + .field__title {
  color: $color-gray;
  cursor: default;

  &::before {
    border-color: $color-gray-light;
  }

  &::after {
    background-color: transparent;
  }
}

.field__input[type="radio"]:checked:disabled + .field__title {
  &::before {
    border-color: $color-gray-light;
  }

  &::after {
    background-color: $color-gray-light;
  }
}

.field__input[type="checkbox"] + .field__title {
  @include clear-indents;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;

  &::before {
    content: "";
    width: 42px;
    height: 24px;
    box-sizing: border-box;
    align-self: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid $color-gray;
    background-color: $color-gray;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: $color-white;
    transition: left 0.2s ease-out;
  }
}

/*Отметить чекбокс или отменить выбор можно по щелчку на чекбокс =>
при наведении он будет визуально выделяться независимо от того, был он отмечен или нет*/

.field__input[type="checkbox"]:checked + .field__title {
  &::before {
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &::after {
    left: 20px;
  }
}

.field__input[type="checkbox"]:hover + .field__title,
.field__input[type="checkbox"]:focus-visible + .field__title {
  &::before {
    border-color: $color-primary-light;
    background-color: $color-primary-025;
  }
}

.field__input[type="checkbox"]:disabled + .field__title {
  color: $color-gray;
  cursor: default;

  &::before {
    border-color: $color-gray-light;
    background-color: $color-gray-light;
  }
}

.field__input[type="checkbox"]:checked:disabled + .field__title {
  &::before {
    border-color: $color-gray-light;
    background-color: $color-gray-light;
  }

  &::after {
    background-color: $color-gray;
  }
}
