.form {
  @include clear-indents;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.form__fieldsets-wrapper {
  display: grid;
  gap: 30px;
}

.form__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__button {
  font-size: $font-size-button-default;
  line-height: $line-height-button-default;
}

@media (min-width: $tablet-width) {
  .form {
    align-items: center;
    row-gap: 40px;
  }

  .form__fieldsets-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .form__buttons-wrapper {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldsets-wrapper {
    grid-template-columns: 1fr;
  }
}
