.full-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 6px;
  line-height: 32px;
  vertical-align: middle;
}

.full-price__old {
  font-size: $font-size-price-old;
  font-weight: 400;
  color: $color-primary;
  text-decoration: line-through;
}

.full-price__new {
  font-size: $font-size-price;
  font-weight: 600;
}
