.map {
  @include clear-indents;
  min-height: 420px;
  background: url("../../../raw/images/map/map-mobile@1x.png") no-repeat center;
}

.map__wrapper {
  width: 100%;
  height: 420px;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    height: 540px;
  }
}
