.menu {
  display: grid;
  list-style: none;
}

.menu__item-wrapper {
  @include side-paddings;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__item-title {
  @include clear-indents;
  font-size: $font-size-menu;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $color-primary;
}

.menu__sub-menu {
  @include clear-indents;
  font-size: $font-size-smaller;
  font-weight: 500;
  color: $color-black;
}

.menu__item-content {
  @include clear-indents;
  color: $color-black;
}

@media (max-width: $mobile-width-only) {
  .menu__item {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-secondary;
    }

    &:last-child {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-secondary;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .menu__item-wrapper {
    padding: 0;
  }
}
