.order {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.order__full-price {
  @include clear-indents;
}

.order__price {
  @include clear-indents;
}

.order__button {
  align-self: flex-start;
  font-size: $font-size-button-default;
  line-height: $line-height-button-default;
}
