.page-header {
  @include clear-indents;
  min-height: $header-height;
  position: relative;
  font-size: $font-size-smaller;
  line-height: 16px;
  font-weight: 500;
  color: $color-black;
  background-color: $color-white;
  z-index: 2;
}

.page-header__wrapper {
  margin: 0 auto;
  min-width: $mobile-width;
  max-width: $desktop-width;
}


