.page-header {
  @include clear-indents;
  min-height: $header-height;
  position: relative;
  font-size: $font-size-smaller;
  line-height: 16px;
  font-weight: 500;
  color: $color-black;
  background-color: $color-white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-height: $header-height-tablet;
  }
}

.page-header__wrapper {
  @include page-center;
}
