.page-footer {
  @include clear-indents;
  background-color: $color-white;
}

.page-footer__wrapper {
  @include page-center;
  padding: 0 0 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.page-footer__block {
  @include clear-indents;
  display: flex;

  &--base-info {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &--info {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
  }

  &--copyright {
    grid-column: 1 / -1;
    font-size: $font-size-smaller;
    line-height: 16px;
    color: $color-gray;
  }
}

.page-footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: inherit;
  line-height: 24px;
  text-decoration: none;
}

.page-footer__logo {
  display: flex;
}

.page-footer__logo-image {
  width: 82px;
  height: 36px;
}

.page-footer__logo-text {
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: 400;
}

.page-footer__socials {
  @include clear-indents;
}

.page-footer__block-title {
  @include clear-indents;
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $color-primary;
}

.page-footer__block-content {
  margin-top: 8px;
}

.page-footer__list {
  @include clear-indents;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  list-style: none;
}
.page-footer__item {
  display: flex;
}

.page-footer__item-link {
  margin: 0;
  padding: 8px 0;
  font-size: $font-size-smaller;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  transition: color 0.2s ease-out;

  &:hover, &:focus {
    color: $color-primary-light;
  }

  &:active {
    color: $color-primary-dark;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__block {
    padding: 20px $page-indent;
  }

  .page-footer__block:not(:last-child) {
    padding-bottom: 21px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $color-secondary;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include side-paddings;
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .page-footer__block {
    &--base-info {
      grid-column: 1 / -1;
    }
  }

  .page-footer__logo-image {
    width: 170px;
  }
}

@media (max-width: $tablet-width-max) {
  .page-footer__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }

  .page-footer__block {
    &--base-info {
      grid-column: 1 / 2;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
    }

    &--info {
      padding-top: 9px;
    }
  }

  .page-footer__logo-wrapper {
    transition: color 0.2s ease-out, opacity 0.2s ease-out;

    &:hover, &:focus {
      color: $color-primary;
      opacity: 0.8;
    }
  }
}
