.sort {
  @include clear-indents;
  max-width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 8px;
  line-height: 24px;
}

.sort__label {
  @include clear-indents;
  font-size: $font-size-legend;
  font-weight: 600;
}

.sort__select-wrapper {
  display: flex;
}

.sort__select {
  font-family: $font-family-default;
  font-weight: 500;
  color: $color-primary;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .sort {
    column-gap: 20px;
  }
}
