.user-list {
  @include clear-indents;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.24px;
  list-style: none;
}

.user-list__item {
  display: flex;
}

@media (max-width: $mobile-width-only) {
  .user-list {
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    column-gap: 20px;
  }
}
